body{
	margin: 0;
	padding: 0;
	background: url("../img/background.jpg");
	background-size: cover;
}
.box{
	width: 100%;
	max-width: 300px;
	padding: 10px 20px 20px 20px;
	margin: 0 auto;
	margin-top: 30px;
	background-color:#2e2e1f;
	text-align:center;
	color: white;
	border: 9px solid #6b6b47;
	border-radius: 10%;
}
.box input[type="text"], .box input[type="password"]{
background:none;
border: none;
display: block;
margin: 20px auto;
text-align: center;
border: 2px solid  #00ffff;
padding: 14px 10px;
width: 180px;
outline: none;
color: white;
font-size: 14;
border-radius: 24px;
transition:.33s; 
}
.box input[type="text"]:hover, .box input[type="password"]:hover{
	width:240px;
	border:3px solid green;
}
.box input[type="submit"]{
background:none;
border: none;
display: block;
margin: 20px auto;
text-align: center;
border: 2px solid  #00cccc;
padding: 12px 10px;
width: 80px;
outline: none;
color: white;
font-size: 14;
 border-radius:20%; 
transition:.33s; 
}
.box input[type="submit"]:hover{
	background-color: green;
	font-weight: bold;
	}
.welcome{
	text-align:center;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:54;
	font-weight:bolder;
	text-shadow: 5px 5px 6px red;
    margin-top: 30px;

}
.account{
	font-size: 7px;
	text-decoration: none;
}

